<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="add-student-form.component.css">


</head>
<body>

<div class="container">
  <div class="header">
    <app-header-dash></app-header-dash>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <app-side-nav></app-side-nav>
    </div>

    <div class="container_ok">
            <form action="#">
                <div class="form first">
                    <header >Nouveau Inscrit</header>
                    


                    <div class="details personal">
                        <span class="title">Details de l'Étudiant</span>

                        <div class="fields">

                            <div class="input-field" >
                                <label>Numéro Étudiant</label>
                                <input type="text" placeholder="Entrez le numéro étudiant" required [(ngModel)]="numEtudiant" [ngModelOptions]="{ standalone: true }">
                            </div> 

                            <div class="input-field">
                                <label>Nom</label>
                                <input type="text" placeholder="Entrez le nom" required [(ngModel)]="nom" [ngModelOptions]="{ standalone: true }">
                            </div>

                            <div class="input-field">
                                <label>Prénom</label>
                                <input type="text" placeholder="Entrez le prénom" required [(ngModel)]="prenom" [ngModelOptions]="{ standalone: true }">
                            </div>

                            <div class="input-field">
                                <label>Adresse</label>
                                <input type="text" placeholder="Entrez l'adresse" [(ngModel)]="adresse" [ngModelOptions]="{ standalone: true }">
                            </div>

                            <div class="input-field">
                                <label>Sexe</label>
                                <select [(ngModel)]="sexe">
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>

                            <div class="input-field">
                                <label>Date de Naissance</label>
                                <input type="date" placeholder="Entrez la date de naissance" [(ngModel)]="date_naissance" [ngModelOptions]="{ standalone: true }">
                            </div>

                            <div class="input-field">
                                <label>Téléphone</label>
                                <input type="text" placeholder="Entrez le téléphone" [(ngModel)]="Tel" [ngModelOptions]="{ standalone: true }">
                            </div>


                            <div class="input-field">
                                <label>Année de Promotion</label>
                                <input type="text" placeholder="Entrez l'année de promotion" [(ngModel)]="AnneePromo" [ngModelOptions]="{ standalone: true }">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="details family">
                    <span class="title"></span>

                    <div class="buttons">
                        <button class="sumbit" (click)="onSubmit()">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div>
            </form>
    </div>



</div></div>

</body>
