<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="dashboard.component.css">

</head>

<div class="container">
  <div class="header">
    <app-header-dash></app-header-dash>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <app-side-nav></app-side-nav>
    </div>
    <div class="main">
      <app-main></app-main>
    </div>   
  </div>
</div>