<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="contact.component.css">

</head>

<div class="container">
  <div class="header">
    <app-header-dash></app-header-dash>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <app-side-nav></app-side-nav>
    </div>

    <div>
        <body>
        <section id="contact">
            <h2>Contactez-nous</h2>
            <p>Adresse : Hay Riad, Rabat, Maroc</p>
            <p>Numéro de téléphone : +00 123 456 789</p>
            <p>E-mail : <a href="mailto:info@ecm.com">info@ecm.com</a></p>
            <p>Fax : +00 123 456 789</p>
        </section>
    </body>
      </div>
  </div>
</div>