@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.main-container {
    display: flex;
    .side-nav {
      width: 350px;
      min-width: 230px;
      min-height: calc(100vh - 70px);
      background-color: #113c60;
      color: #fff;
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 1300px) {
        width: 100px;
        min-width: 100px;
      }
    }
    .main {
      padding: 30px;
    }
  }
  div {
    .titre {
      font-size: 24px; /* Adjust the font size as needed */
      font-weight: bold;
      font-family: 'Arial', sans-serif; /* Replace with your desired font family */
    }
  }
  .stage {
    flex: 1;
    display: flex;
    padding: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 40px; /* Move the content to the bottom */
  }
  .main {
    padding: 40px;
    display: flex;
    flex-direction: column;
  
    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
  
      .button-37 {
        background-color: #13aa52;
        border: 1px solid #13aa52;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        outline: 0;
        padding: 10px 25px;
        text-align: center;
        transform: translateY(0);
        transition: transform 150ms, box-shadow 150ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .button-37:hover {
        box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(-2px);
      }
      
      @media (min-width: 768px) {
        .button-37 {
          padding: 10px 30px;
        }
      }
      ::placeholder {
        color: #fff;
        opacity: 0.7; 
      }
        
      /* Style pour la barre de recherche */
      .search-bar {
        flex: 1;
        margin-left: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 50px; /* Contours arrondis */
        font-size: 16px;}
        form {
          background-color: #4654e1;
          width: 300px;
          height: 44px;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
    .button-30 {
      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono",monospace;
      height: 60px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
    }
    
    .button-30:focus {
      box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .button-30:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .button-30:active {
      box-shadow: #D6D6E7 0 3px 7px inset;
      transform: translateY(2px);
    }
