<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="about.component.css">

</head>

<div class="container">
  <div class="header">
    <app-header-dash></app-header-dash>
  </div>
  <div class="main-container">
    <div class="side-nav">
      <app-side-nav></app-side-nav>
    </div>

    <div>
        <body>
        <section id="contact">
            <h2>Résumé</h2>
            <p>Ce projet vise à développer un système complet de gestion des stages pour les étudiants,
            en utilisant une approche de conception basée sur la méthode Merise et une implémentation
            technique avec les frameworks Spring Boot (backend) et Angular (frontend).</p>
            <p>
            Conception avec Merise : La conception a été réalisée en utilisant la méthode Merise,
            une méthodologie de modélisation de systèmes d’information. Les entités clés identifiées incluent Stage, Etudiant, Professeur, Entreprise, et Promotion. Les relations entre ces entités ont
            été spécifiées avec des cardinalités et des contraintes, permettant une représentation claire des
            interactions dans le système.</p>
            <p>
            Implémentation Technique : L’implémentation technique s’appuie sur Spring Boot pour
            la partie backend, fournissant une architecture robuste basée sur Java. Les entités définies dans
            la conception Merise sont traduites en classes Java annotées avec JPA pour la persistance des
            données dans une base PostgreSQL.</p>
            <p>
            La partie frontend est développée avec Angular, un framework JavaScript populaire. L’interface utilisateur offre une expérience conviviale pour les utilisateurs, permettant la gestion des
            stages, des étudiants, des professeurs, des entreprises, et des promotions.</p>
            
        </section>
    </body>
      </div>
  </div>
</div>